name: teste saida var
on: workflow_dispatch

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Hello world action
        env: # Or as an environment variable
          super_secret: ${{ secrets.SuperSecret }}
        run: | 
            echo ${{ secrets.SuperSecret }} | base64 > var.txt
            echo base64 -d var.txt
            echo '---------------------'
            echo $var
            
        
